@model IEnumerable<WebApplication3.Models.Inimene>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vanus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td data-id="@item.Id" data-class="Inimene" data-field="Nimi">
            @*@Html.DisplayFor(modelItem => item.Nimi)*@
            <div class="editview">@Html.DisplayFor(modelItem => item.Nimi)</div>
            <div class="viewedit">
                <input type="text" value="@item.Nimi" />
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vanus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
